[submodule "lib/curve_mapping"]
	path = combination_shape_key/lib/curve_mapping
	url = https://github.com/jamesvsnowden/bl_curve_mapping.git
[submodule "lib/driver_utils"]
	path = combination_shape_key/lib/driver_utils
	url = https://github.com/jamesvsnowden/bl_driver_utils.git
[submodule "lib/symmetry"]
	path = combination_shape_key/lib/symmetry
	url = https://github.com/jamesvsnowden/bl_symmetry.git
[submodule "combination_shape_key/lib/update"]
	path = combination_shape_key/lib/update
	url = https://github.com/jamesvsnowden/bl_addon_update_strategy.git
